!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Indro De
    %meta{:charset => "UTF-8"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %meta{:content => "The personal website of Indro De.", :name => "description"}/
    %link{:href => "http://indrode.com", :rel => "canonical"}/
    %link{:href => "img/robot_avatar_small.png", :rel => "shortcut icon"}/
    = javascript_include_tag "https://www.google.com/jsapi", "chartkick"
    / <link rel="stylesheet" href="css/styles.css">
    = csrf_meta_tags
    - #= action_cable_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
  %body
    = yield
